<div class="top">
	<h1 class="heading">Welcome to Yuqin Li's GMU SWE645-HW3</h1>
	<div><ul>
		<li><a (click)="data.setSurveyFlag()">CS Department Survey</a></li>
		<li><a (click)="data.setStudentListFlag()">Student List</a></li>
	</ul></div>
	<h5 id="welcome"></h5>
	<div id="rename"></div>
</div>
<div class="line"></div>
<div class="content">
	<h1>
		Thank you for filling out the form.
	</h1>
	<h3>
		The information entered on the form was successfully saved to a database table.
	</h3>
	<h3>
		Click here to go back to home page
		<a href="index.html" class="w3-btn">Go back</a> 
	</h3>
</div>